{# templates/category/new.html.twig #}
{% extends 'blog_template.html.twig' %}

{% block title %}{{ parent() }} Accueil de l'Administration des Catégories | Ajouter une nouvelle catégorie{% endblock %}

{% block body %}
    {% block content %}
        <h1>Ajouter une nouvelle catégorie</h1>
    {% endblock %}
    {{ include('category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}">back to list</a>
{% endblock %}
