{# templates/blog/index.html.twig #}
{% extends 'blog_template.html.twig' %}

{% block title %}{{ parent() }} Accueil{% endblock %}

{% block content %}
    <div class="content">
        <h1>Blog | Accueil</h1>
        <h2>Bienvenue sur notre blog</h2>
        <p>Ceci sera la page d'accueil de notre blog</p>
    </div>
{% endblock %}
