{# templates/article/new.html.twig #}
{% extends 'blog_template.html.twig' %}

{% block title %}{{ parent() }} Accueil de l'Administration d'Article | Création d'un nouvel article{% endblock %}

{% block body %}
    {% block content %}
        <h1>Ajouter un article</h1>
    {% endblock %}

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('app_article_index') }}">Retour à la liste</a>
{% endblock %}
